
  
   

    <div class="b">
        <td background="assets/Dqot.gif" >
           <h1 class="text-center"><em>About</em></h1>
           <em>A chatbot (sometimes referred to as a chatterbot) is a computer program that attempts to simulate the conversation or "chatter" of a human being via text or voice interactions. A user can ask a chatbot a question or make a command, and the chatbot responds or performs the requested action.
              Chatbots can be thought of as the spokesperson for artificial intelligence (AI). 

           <p> It's an accessible form of AI that is commonly put to use in businesses across sales and service departments and in the consumer app and device market.
        Chatbots can be stateless or stateful.</p>
         
        A stateless chatbot approaches each interaction as if it was with a new user. A stateful chatbot is more sophisticated; it can review past interactions and frame new responses in context.
       <p> Chatbot use is on the rise, both in the business and consumer markets. As chatbots get better, consumers have less to quarrel about in interacting with them. Between advanced technology and a societal transition to more passive, text-based communication, chatbots help fill a niche that phone calls used to fill.</p>
        Chatbots are also in use as virtual assistants -- conversational assistants that help people navigate their daily lives. Apple, Amazon, Google and Microsoft all have forms of virtual assistants; apps, such as Apple's Siri and Microsoft's Cortana, or products, like Amazon's Echo with Alexa or Google Home, all play the part of personal cha
      
      </em>
      







