<p>
  Hi there!🙌 
</p>
<p>So you’re asking  MeetFrank works?</p>
<p>Let me <strong>explain😌</strong></p>
<p>Users can download the <strong>MeetFrank Secret Recruitment App</strong>or <strong>Google Play</strong> </p>

<p>During the signup, we won’t ask who the person is, only what they’re currently <strong>doing</strong> and what <strong>motivates</strong> them.</p>
<p>The opt-in process takes around <strong>90</strong> seconds.⌛</p>

<img class="16x9" src="/assets/pulp-fiction.gif">
<p><strong>tahira</strong> is a <strong>Senior Software Developer</strong> working with Javascript, React, Node.js, AWS and Docker stack.</p><br>

<p>He is also a <strong>team lead</strong> in a company that has <strong>50</strong> employees and is active in the <strong>ad tech</strong> industry.</p>