<body>
      
  <div class="sidenav">
      <img src="assets/logo_white_blue.svg" class="frank-logo">
    <a href="/hiring">Start Hiring</a>
    <a href="/talent">i'm talent</a>
    <a href="/company">For company</a>
    <a href="/work">How it works</a>
    <a href="/pricing">pricing</a>
    <a href="/contact">Contact</a>
    <footer><form id="text-me-app"><span style="color: wheat;">Text me a link to the app:</span><br>
      <input type="text" placeholder="+3725555555" value="">
      <button type="submit" class="btn btn-primary" >Send</button>
    
    </form></footer>
  </div>

  <div class="main">
      <h1>Contact</h1>
      <!-- <img src="assets/log.jpg" class="log"> -->
      <div class="steps-view"><article id="steps" class="step-view"><header id="steps-header"></header>
        <div id="about-view"><h1>Meet the team</h1>
      
        <img src="assets/team.jpg" class="team">
        <h2>The story behind MeetFrank</h2>
        <p><!-- react-text: 106 -->The current job market situation makes it difficult for companies to find, attract, and hire top talent. On the other hand, many talented people are unhappy with their jobs and often underpaid.<!-- /react-text --><br><br><!-- react-text: 109 -->We launched MeetFrank in September 2017 as an initiative to bring more transparency to the job market.&nbsp;<!-- /react-text -->
          <span class="link-more-black">Read how MeetFrank works&nbsp;</span></p><br>
            <p><!-- react-text: 136 -->Say hello at&nbsp;<!-- /react-text -->
              <a class="link" href="mailto:inext@gmail.com">inext@gmail.com</a><br>
              <!-- react-text: 139 -->Contact our support&nbsp;<!-- /react-text -->
              <a class="link" href="mailto:tahira.inext@gmail.com">
              tahira.inext@gmail.com</a></p><br><br></div></article></div>
     
  </div>
  
  </body>
  
  